input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"], .uneditable-input {padding-top:8px;padding-bottom:0;}
.computation select.input-block-level {padding-top:8px !important;padding-bottom:8 !important;min-height:auto !important;height:auto !important;}
.olp_field {width: 439px;}
.MaleSelected{color:#fff;}
.FemaleSelected{color:#fff;}
.helplogindesk {margin-top:-60px !important;}
.page-register .ddplist select {min-height:18px !important;}